<h1>Comic Book</h1>
<table>
	<tr><th>Comic Book Details</th></tr>
	<tr><td>Title: <%= @comic_book.title %></td><td>Issue: <%= @comic_book.issue %></td></tr>
	<tr><td>Contributors</td></tr>
	<% unless @comic_book.contributors.empty? %>
		<%= render @comic_book.contributors %>

	<% end %>

</table>

<%= link_to "Edit comic book", edit_comic_book_path(@comic_book) %>
<br />
<%= link_to "<<Back to list of comic books", comic_books_path %>