<h1>Comic Books</h1>
<table>
	<th><td>Comic Book Details</td></th>
	<tr><td>Title</td><td><%= @comic_book.title %></td><td>Issue</td><td><%= @comic_book.issue %></td></tr>
	<% unless @comic_book.contributors.empty? %>
	<table class="contributors" summary="Comic book contributors">
		<%= render @contributors %>
	</table>

	<% end %>

</table>

<%= link_to "Edit comic book", edit_comic_book_path(@comic_book) %>
<br />
<%= link_to "<<Back to list of comic books", comic_books_path %>