<h1>Comic Books</h1>
<table>
	<th><td>Comic Book Details</td></th>
	<tr><td>Title: <%= @comic_book.title %></td><td>Issue: <%= @comic_book.issue %></td></tr>
	<tr><td>Contributors</td></tr>
	<% unless @comic_book.contributors.empty? %>
		<%= render @contributors %>

	<% end %>

</table>

<%= link_to "Edit comic book", edit_comic_book_path(@comic_book) %>
<br />
<%= link_to "<<Back to list of comic books", comic_books_path %>